/* Importando fonte poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Conteudo total da tela */
:root {
    font-family: "Poppins", sans-serif;
}
html, body {
    margin: 0;
    left: 0;
    height: 100%;
}

.container-all {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Navbar lateral */
.nav-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    background: radial-gradient(circle at 50% 50%, #2e2e2e, #2a2a2b);
}

#area-logo-climetech {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;


}
#logo-climetech {
    cursor: pointer;
    background-image: url('../img-all/icon-climetech.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 65%;
    height: 55%;
}
.separador{
    border: 1px solid white;
    width: 60%;
}

.area-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.area-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}
#icon-funcionario{
    cursor: pointer;
    width: 50%;
    height: 70%;
    background-image: url('../img-all/funcionario-icon.png');
    background-size: cover;
}
#icon-logoff {
    cursor: pointer;
    width: 50%;
    height: 70%;
    background-image: url('../img-all/logoff-icon.png');
    background-size: cover;
}

/*Conteúdo da tela da Dashboard*/

.main_container {
    width: 100%;
}

.container_infos {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.div_superior {
    width: 100%;
}

.grafico {
    width: 70vh;
}

.div_superior {
    width: 100%;
    text-align: left;
    padding: 30px;
}

.div_superior h2 {
    font-size: 28px;
    font-weight: 600;
    color: #2b2b2b;
}

.div_superior h2 span {
    color: #8e8e8e;
    font-weight: 400;
}

.container_graficos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

.container_kpi {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
}

.divisor {
    width: 2px;
    background-color: #c4c4c4;
    margin: 0 20px;
    border-radius: 4px;
}


.kpi_sensacao p{
    color: red;
}

.kpi_setor p{
    color: #efbc56;
    font-weight: 700;
}

.card {
    display: flex;
    background-color: #ededed;
    color: black;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 70vh;
    justify-content: space-evenly;
}

.card p {
    font-size: 26px;
    margin-top: 10px;
    font-weight: 700;
}

canvas {
    height: 100px;
    background-color: #ededed;
    border-radius: 12px;
    padding: 20px;
}

/* Conteudo da tela de Funcionários */
.content {
    width: 92%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* conteúdo no topo */
    align-items: flex-start;
    width: 85%;
    height: auto; /* deixa crescer conforme o conteúdo */
    padding: 30px 0;
}

/* Header da tela */
.header {
    display: flex;
    flex-direction: row;
    height: 16.5%;
    width: 100%;
    
}
.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.header h1 {
    margin: 0;
    font-weight: 600;
}
.header span {
    color: gray;
    font-weight: 700;
}
.button-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}
.button-content button {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 15px;
    background-color: #055cd1;
    outline: none;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Animação para aumentar a escala do botão quando passar o mouse em cima */
.button-content button:hover {
    transform: scale(1.05);
}

/* tabela da tela */
.table-body {
    width: 100%;
    height: 75%;
}
.header-table {
    border-bottom: 1px solid gray;
}
.table-body table {
    width: 100%;
    border-collapse: collapse;
}
table tr th {
    text-align: start;
    color: gray;
    padding: 10px 5px;
}
table td {
    padding: 15px 5px;
}
.id {
    width: 10%;
}
.name {
    width: 20%;
}
.email {
    width: 30%;
}
.data {
    width: 15%;
}
.password {
    width: 15%;
}
.buttons-line {
    width: 10%;
}
.line-gray {
    background-color: #ededed;
}
.buttons-line {
    display: flex;
    gap: 15px;
}

.edit, .delete {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* Animação para aumentar a escala do botão quando passar o mouse em cima */
.edit:hover, .delete:hover {
    transform: scale(1.1);
}

/* Background atrás do modal */
#fade {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.589);
    z-index: 5;
}

/* Modal update (NÃO PRECISA MAIS) */
/* 
#modal_update {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 40%;
    height: 80%;
    border-radius: 10px;
}
#header-modal-update {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    align-items: center;
    height: 20%;
    border-bottom: 1px solid rgb(136, 136, 136);
}
#header-modal-update h2 span {
    font-weight: 400;
}
#body-modal-update {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-size: larger;
} */
.container-interactive {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.container-interactive .input-group {
    display: flex;
    flex-direction: column;
    width: 95%;
}
.input-group label {
    font-size: 15px;
    font-weight: 500;
}
.input-group input {
    font-family: "Poppins", sans-serif;
    width: 100%;
    background-color: #ededed;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    padding: 8px;
    font-size: 15px;
}

.input-group select {
    font-family: "Poppins", sans-serif;
    width: 40%;
    background-color: #ededed;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    padding: 3px;
    font-size: 15px;
}


/* Modal delete */
#modal_delete {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 10;
    width: 40%;
    height: 55%;
    border-radius: 10px;
}
#header-modal-delete {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    align-items: center;
    height: 20%;
    border-bottom: 1px solid rgb(136, 136, 136);
}
#header-modal-delete h2 span {
    font-weight: 400;
}
.body-modal {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60%;
    font-size: larger;
}
.body-modal p {
    width: 75%;
}

/* Área geral dos botões dos modais */
.buttons-modal {
    width: 100%;
    height: 20%;
}
.area-buttons {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    height: 100%;
}
.area-buttons button {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   color: white;
   width: 25%;
   height: 40px;
   outline: none;
   border: none;
   cursor: pointer;
}

.button-cancel {
    background-color: #ea2d40;
}
.button-confirm {
    background-color: #38a37f;
}
.close-modal {
    height: 40px;
}
.close-modal{
    cursor:pointer;
}

/* Classe que esconde os modais */
.hide {
    display: none;
}
