.div-notificacao-cadastro,.div-notificacao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
}

.div-notificacao-cadastro,.div-notificacao-login span {
    color: #1073da;
}

button{
    cursor: pointer;
}