.div-notificacao-cadastro,.div-notificacao-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
}

.div-notificacao-cadastro,.div-notificacao-login span {
    color: #1073da;
}

button{
    cursor: pointer;
}

#div_erros_login {
  display:none
}


.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: white;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #1073da 3px solid;
  padding: 10px;
  margin-right: 10%;
  margin-top: 3%;
  z-index: 24;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}